
{% extends 'basic_info/base.html' %}
<!-- {% load static %} -->

{% block content %}
    {% if basics %}
        <!-- {% for basic in basics %}
        <div class="row">
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-header">
                         <i class="fa fa-align-justify"></i> Basic Information
                    </div>
                    <div class="card-body">
                        <tbody>
                            <tr>
                                <td style="width:25%">AFSN</td>
                                <td style="width:75%">{{ basic.afsn }}</td>
                            </tr>
                       
                        </tbody>
                    </div>
                </div>
            </div>
                  
        </div>
        {% endfor %} -->


        <div class="row">
		    <div class="col-lg-12">
		        <div class="card">
		            <div class="card-header">
		                <i class="fa fa-align-justify"></i>Basic Info </div>
		            <div class="card-body">
		                <table class="table table-responsive-sm table-bordered table-striped table-sm" style="width:70%" align="center">
		                    <thead>
		                        <tr align="center">
		                        	<th style="width:40%">DETAILS</th>
		                            <th style="width:60%">INFO</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        {% for basic in basics %}
		                            <tr>
		                                <td>AFSN</td>
                                        <td>{{ basic.afsn }}</td>
                                    </tr>
                                    <tr>
                                        <td>RANK</td>
                                        <td>{{ basic.rank }}</td>
                                    </tr>
                                    <tr>
                                        <td>FIRST NAME</td>
                                        <td>{{ basic.firstname }}</td>
                                    </tr>
                                    <tr>
                                        <td>MIDDLE NAME</td>
                                        <td>{{ basic.middlename }}</td>
                                    </tr>
                                    <tr>
                                        <td>LAST NAME</td>
                                        <td>{{ basic.lastname }}</td>
                                    </tr>
                                    <tr>
                                        <td>EXTENSION NAME</td>       
                                        <td>{{ basic.extensioname }}</td>
                                    </tr>
                                    <tr>
                                        <td>GENDER</td>
		                                <td>{{ basic.gender }}</td>
                                    </tr>
                                    <tr>
                                        <td>CLASSIFICATION</td>
		                                <td>{{ basic.classification }}</td>
                                    </tr>
                                    <tr>
                                        <td>CURRENT UNIT</td>
		                                <td>{{ basic.assign }}</td>
		                            </tr>
                                    <tr>
                                        <td>SOURCE OF COMMISSION/ENLISTMENT</td>
		                                <td>{{ basic.source }}</td>
                                    </tr>
                                    <tr>
                                        <td>DATE ENTERED SERVICE</td>
		                                <td>{{ basic.dateentersvc }}</td>
                                    </tr>
                                    <tr>
                                        <td>DATE OF COMPULSORY RETIREMENT</td>
		                                <td>{{ basic.datecompret }}</td>
		                            </tr>
		                        {% endfor %}
		                    </tbody>
		                </table>
		            </div>
		        </div>
		    </div>
		</div>
        <a href="{% url 'basicinfoedit' %}">
        	<button id="edit" type="button" class="btn btn-primary">Edit</button>
        </a>
    {% else %}
        <div class="text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                <h2>Looks like you don't have any Basic Information! </h2>
                <p>Please enter your <b><i>Basic Information</i></b> by clicking the <b>Add</b> button below.</p>
            <a role="button" class="btn btn-primary" href="{% url 'basicinfoadd' %}">Add</a>
        </div>
    {% endif %}
{% endblock %}



